<div class="souscriptions">
  <h5>Voir les souscriptions <span *ngIf="requesting">(chargement...)</span></h5>
  <table mat-table [dataSource]="datas" class="mat-elevation-z8">
  <ng-container matColumnDef="dateCreation">
    <th mat-header-cell *matHeaderCellDef> Date de souscription </th>
    <td mat-cell *matCellDef="let element"> {{element.dateCreation}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef> Noms complets (optionnel) </th>
    <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef> Message </th>
    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="object">
    <th mat-header-cell *matHeaderCellDef> Object </th>
    <td mat-cell *matCellDef="let element"> {{element.object}} </td>
  </ng-container>
<ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

