<app-header></app-header>
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>Organisations</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
  <img class="small-loader" *ngIf='loaded' src="assets/126.gif" alt="" srcset="">
</div>
<!-- featured_candidates_area_start  -->
<section class="blog_area single-post-area section-padding"  *ngIf='clusterDetail'>
  <div class="container">

     <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img [src]="image" class="img-fluid" [alt]="clusterDetail.raison">
                    </div>
                    <div class="blog_details">
                        <h2>{{clusterDetail.raison}}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li *ngIf="clusterDetail.mail!==''"><i class="fa fa-user"></i>{{clusterDetail.mail}}</li>
                            <li *ngIf="clusterDetail.phones!==''"><i class="fa fa-user"></i>{{clusterDetail.phones}}</li>
                            <li *ngIf="clusterDetail.residences!==''"><i class="fa fa-map-marker"></i>{{clusterDetail.residences}}</li>
                        </ul>
                        <p class="excert">{{clusterDetail.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Publications</h4>
                        <ul class="list cat-list">
                            <!--li *ngFor='let project of clusterDetail.projects'>
                                <a [routerLink]="['/publications', project.slug]" class="d-flex">{{project.nom | titlecase}}
                                </a>
                            </li-->
                            <li>Aucune</li>
                        </ul>
                    </aside>
                </div>
            </div>

  </div>
  </div>
  </div>
</section>
<div class="featured_candidates_area candidate_page_padding" *ngIf='clusters'>
    <div class="container">
      <h2>Nos groupes</h2>
        <div class="row">
            <div class="col-md-6 col-lg-3" *ngFor='let cluster of clusters'>
                <app-cluster-comp [cluster]="cluster"></app-cluster-comp>
            </div>
        </div>
        <!--div class="row">
            <div class="col-lg-12">
                <div class="pagination_wrap">
                    <ul>
                        <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                        <li><a href="#"><span>01</span></a></li>
                        <li><a href="#"><span>02</span></a></li>
                        <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div-->
    </div>
</div>
<!-- featured_candidates_area_end  -->


