<mat-card class="my-card">
      <mat-card-header>
        <mat-card-title>{{publication.title | uppercase}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{publication.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <span>Contribution : 100 $</span><br>
        <button mat-button>ENCORE UN DON</button>
      </mat-card-actions>
    </mat-card>
