.my-card {
  max-width: 300px;
  min-height: 170px;
  max-height: 350px;
  margin-bottom: 20px !important;
}

.my-card p {
  font-size: 8px !important;
  text-align: justify !important;
  line-height : 10px !important;
}

.mat-card-header .mat-card-title{
  font-size: 10px !important;
  font-weight: bold;
}
.mat-card-header-text{
  padding-left: 0px !important;
  margin: 0px !important;
}

.mat-card span{
  font-size: 12px !important;
  margin-left:8px;
}

.mat-card-actions .mat-button{
  font-size: 8px !important;
  align-content: center;
  color: #e8b400 !important;
}
