<header>
  <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
          <div class="container-fluid ">
              <div class="header_bottom_border">
                  <div class="row align-items-center">
                      <div class="col-xl-3 col-lg-2">
                          <div class="logo">
                              <a  rputerLink='/'>
                                  <img src="assets/img/logo.png" alt="">
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-7">
                          <div class="main-menu  d-none d-lg-block">
                              <nav>
                                  <ul id="navigation">
                                      <li class="active"><a routerLink='/'>Acceuil</a></li>
                                      <li><a routerLink='/publications'>Publications</a></li>
                                      <li><a routerLink='/organisations'>Organisations</a></li>
                                      <!-- <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                          <ul class="submenu">
                                              <li><a href="candidate.html">Candidates </a></li>
                                              <li><a href="publication_details.html">job details </a></li>
                                              <li><a href="elements.html">elements</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                          <ul class="submenu">
                                              <li><a href="blog.html">blog</a></li>
                                              <li><a href="single-blog.html">single-blog</a></li>
                                          </ul>
                                      </li> -->
                                      <li><a routerLink='/contact'>Contact</a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                          <div class="Appointment">
                              <!-- <div class="phone_num d-none d-xl-block">
                                  <a href="#">Log in</a>
                              </div> -->
                              <div class="d-none d-lg-block">
                                  <a class="boxed-btn3" href="#"  data-toggle="modal" data-target="#exampleModal">Identifiez-vous</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</header>



<div class="modal" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Identifiez-vous</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="col-lg-6 modal-body">
              <form>
                  <div class="form-group">
                      <input type="text" name="username" class="form-control" placeholder="Identifiant" /><br>
                      <input type="password" name="password"  class="form-control" placeholder="Mot de passe" /><br>
                      <button class="btn btn-primary">Se connecter</button>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <a class="boxed-btn3" href="account.html">Créer un compte</a>
          </div>
      </div>
  </div>
</div>
