

.job_details_area
{
  padding-top: 10px !important;
  padding-bottom: 30px !important;
  min-height: 500px !important;
  background-color: white !important;
}


.tab-content{
  align-content: center !important;
}
select.form-control:not([size]):not([multiple]){
  height: calc(3.25rem + 2px) !important;
}
.toggleForm:hover
{
  color: #337ab7 !important;
  cursor: pointer !important;
}

.ilstration_img{
  padding-top: 50px !important
}
