<app-header></app-header>
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Compte</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="job_details_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 apply_job_form white-bg">
        <!--div id="creation" *ngIf="creation; else connexion"></div-->
        <div id="creation">
          <h4>Merci d'avoir choisi de créer un compte sur ce site</h4>
          <p>Nous vous informons que la création de compte vous permet de vous enregistrer momentanément sur la plateforme Drépano-convergence.</p><br>
          <p>Vous serez notifier des ajouts et de nouvelles fonctionnalités pour permettant d'interagir avec le public, les organisations ou la plateforme elle-même.</p>
          <p>Veuillez choisir le type de compte, puis remplacez les champs présents : </p><br>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="public-tab" data-toggle="tab" href="#public" role="tab"
                aria-controls="home" aria-selected="true">Compte pour public</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="organisation-tab" data-toggle="tab" href="#organisation" role="tab"
                aria-controls="profile" aria-selected="false">Compte pour organisations</a>
            </li>
          </ul><br>
          <div class="tab-content col-md-12" id="myTabContent">
            <div class="tab-pane fade show active" id="public" role="tabpanel" aria-labelledby="public-tab">
              <div class="col-lg-12 col-md-12 col-xl-8">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                  <div class="form-group">
                    <input type="text" name="email" class="form-control" ngModel placeholder="Email" /><br>
                    <input type="text" name="username" class="form-control" ngModel
                      placeholder="Nom d'utlisateur" /><br>
                    <input type="password" name="password" class="form-control" ngModel
                      placeholder="Mot de passe" /><br>
                    <button class="boxed-btn3" type="submit">Créer</button>
                    <img class="small-loader" *ngIf='loaded' src="assets/126.gif" alt="" srcset="">
                  </div>
                </form>
                <!--a class="toggleForm" (click)="toggleForm()">Se connecter</a-->
              </div>
            </div>
            <div class="tab-pane fade" id="organisation" role="tabpanel" aria-labelledby="organisation-tab">
              <div class="col-lg-12 col-md-12 col-xl-8">
                <form (ngSubmit)="onSubmitGroupe(groupe)" #groupe="ngForm">
                  <div class="form-group">
                    <h4>Type d'organisation</h4>
                    <select class="form-control">
                      <option>Institus étatiques</option>
                      <option>Organes de recherche</option>
                      <option>Prestataires directs</option>
                      <option>ONG & associations</option>
                      <option>Partenaires techniques et financiers</option>
                    </select><br /><br />
                    <h4>Informations sur votre organisation</h4>
                    <p>Ces informations sont d'une haute importance pour tous les visiteurs qui tomberont sur votre
                      profil afin de vous contacter ou en savoir plus sur votre organisation</p>
                    <input type="text" name="raison" class="form-control" placeholder="Raison sociale" ngModel /><br>
                    <input type="text" name="rccm" class="form-control" placeholder="Numéro RCCM" ngModel /><br>
                    <input type="text" name="idnat" class="form-control" placeholder="Numéro IDNAT" ngModel /><br>
                    <input type="text" name="contact" class="form-control" placeholder="Adresse mail à contacter"
                      ngModel /><br>
                    <input type="text" name="residence" class="form-control" placeholder="Résidence de l'organisation"
                      ngModel /><br>
                    <input type="tel" name="phones" class="form-control"
                      placeholder="Les numéros de téléphones, à séparer par une virgule" ngModel /><br>
                    <input type="text" name="slogan" class="form-control" placeholder="Slogan" ngModel /><br>
                    <textarea class="form-control" name="description" cols="30" rows="10"
                      placeholder="La déscription de votre organisation" ngModel></textarea><br>

                    <br />
                    <input type="text" name="email" class="form-control" placeholder="Email" ngModel /><br>
                    <input type="password" name="password" class="form-control" placeholder="Mot de passe"
                      ngModel /><br>
                    <button class="boxed-btn3" type="submit">Créer un compte groupe</button>
                    <img class="small-loader" *ngIf='loaded' src="assets/126.gif" alt="" srcset="">
                  </div>
                </form>
                <!--a class="toggleForm" (click)="toggleForm()">Se connecter</a-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--ng-template #connexion>
        <div id="connexion">
          <h4>Connectez-vous pour profiter à plein des fonctionnalités de cette plateforme</h4>
          <div class="col-lg-12 col-md-12 col-xl-8">
            <form (ngSubmit)="login(f1)" #f1="ngForm">
              <div class="form-group">
                <input type="text" name="username" ngModel class="form-control" placeholder="Identifiant" /><br>
                <input type="password" name="password" ngModel class="form-control" placeholder="Mot de passe" /><br>
                <button class="boxed-btn3" type="submit">Se connecter</button>
                <img class="small-loader" *ngIf='loaded' src="assets/126.gif" alt="" srcset="">
              </div>
            </form>
            <a class="toggleForm" (click)="toggleForm()">Créer un compte</a>
          </div>
        </div>
      </ng-template-->
      <div class="col-lg-12" *ngIf="hasError">
        <p class="error">{{error}}</p>
      </div>
      <br><br>
      <div class="col-lg-6 col-md-6">
        <div class="ilstration_img wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
          <img  src="assets/img/banner/illustration_small.png" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
