<div class="row publication">
  <h4 *ngIf='loaded'>Chargement...</h4>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xl-3" *ngFor="let publication of publications">
    <app-publication-card [publication]="publication"></app-publication-card>
  </div>
  </div>
