<div class="row actualite">
    <div class="col-lg-12 col-md-12 col-xl-12">
        <div class="row">
            <div class="section_title text-center mb-40">
                <h3>Actualités</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                    <iframe class="video" src="https://www.youtube.com/embed/hoaAm5H2M9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                <div class="actualite-header">
                    <h2>Invitation DREPANO-CONVERGENCE Summit</h2>
                    <div class="divider"></div>
                </div>
                <div class="actualite-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?

                </div>
            </div>  
        </div>
    </div>
  </div>