.actualite{
    padding: 50px;
}
.video{
    height: 100%;
    width: 100%;
    max-height: 300px;
    border-radius: 5px;
}


.actualite-header{
    margin-bottom: 10px;
}

.actualite-header h2{
    margin-bottom: 2px !important;
}