<div class="job_listing_area">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="section_title">
                  <h3>Publications récentes</h3>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="brouse_job text-right">
                  <a href="publication.html" class="boxed-btn4">Plus de publications</a>
              </div>
          </div>
      </div>
      <div class="job_lists">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">
                          <div class="thumb">
                              <img src="assets/img/svg_icon/1.svg" alt="">
                          </div>
                          <div class="jobs_conetent">
                              <a href="publication_details.html"><h4>Drépanocytose</h4></a>
                              <div class="links_locat d-flex align-items-center">
                                  <div class="location">
                                      <p><span>kodaka</span></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="jobs_right">
                          <div class="apply_now">
                              <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                          </div>
                          <div class="date">
                              <p><i class="fa fa-clock-o"> Date de publication: 31 Jan 2020</i></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">
                          <div class="thumb">
                              <img src="assets/img/svg_icon/2.svg" alt="">
                          </div>
                          <div class="jobs_conetent">
                              <a href="publication_details.html"><h4>Title</h4></a>
                              <div class="links_locat d-flex align-items-center">
                                  <div class="location">
                                      <p><span>alliyolo</span></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="jobs_right">
                          <div class="apply_now">
                              <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                          </div>
                          <div class="date">
                              <p><i class="fa fa-clock-o"> Date de publication: 31 Jan 2020</i></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">
                          <div class="thumb">
                              <img src="assets/img/svg_icon/3.svg" alt="">
                          </div>
                          <div class="jobs_conetent">
                              <a href="publication_details.html"><h4>Malaria</h4></a>
                              <div class="links_locat d-flex align-items-center">
                                  <div class="location">
                                      <p><span>greenidea</span></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="jobs_right">
                          <div class="apply_now">
                              <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                          </div>
                          <div class="date">
                              <p><i class="fa fa-clock-o"> Date de publication: 31 Jan 2020</i></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">
                          <div class="thumb">
                              <img src="assets/img/svg_icon/4.svg" alt="">
                          </div>
                          <div class="jobs_conetent">
                              <a href="publication_details.html"><h4>Blabla</h4></a>
                              <div class="links_locat d-flex align-items-center">
                                  <div class="location">
                                      <p><span>awa </span></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="jobs_right">
                          <div class="apply_now">
                              <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                          </div>
                          <div class="date">
                              <p><i class="fa fa-clock-o"> Date de publication: 31 Jan 2020</i></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">
                          <div class="thumb">
                              <img src="assets/img/svg_icon/5.svg" alt="">
                          </div>
                          <div class="jobs_conetent">
                              <a href="publication_details.html"><h4>...</h4></a>
                              <div class="links_locat d-flex align-items-center">
                                  <div class="location">
                                      <p><span>congofutur </span></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="jobs_right">
                          <div class="apply_now">
                              <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                          </div>
                          <div class="date">
                              <p><i class="fa fa-clock-o"> Date de publication: 31 Jan 2020</i></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">
                          <div class="thumb">
                              <img src="assets/img/svg_icon/1.svg" alt="">
                          </div>
                          <div class="jobs_conetent">
                              <a href="publication_details.html"><h4>...</h4></a>
                              <div class="links_locat d-flex align-items-center">
                                  <div class="location">
                                      <p><span>orange </span></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="jobs_right">
                          <div class="apply_now">
                              <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                          </div>
                          <div class="date">
                              <p><i class="fa fa-clock-o"> Date de publication: 31 Jan 2020</i></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
