.profile_form
{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
}

.profile_form img{
  padding-top: 5px;
  width: 100% !important;
  text-align: center;
  height: 150px;
  border-radius: 50% !important;
}

.mat-form-field{
  margin-right: 5px;
  width: 100% !important;
}

.mat-grid-tile
{
  background-color: white;
  border-color: white;
  border-radius: 10px;
  padding: 20px!important;
  max-width: 600px !important;
  max-height: 800px !important;
  text-align: center !important;
}
.new-publication{
  margin-top: 40px !important;
  text-align: center;
}
