<div class="row new-publication">
  <!--div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
      <div class="profile_form">
        <h4>Choix de l'avatar</h4><br>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <br>
        <mat-form-field>
          <ngx-mat-file-input formControlName="avatarFile" placeholder="Cliquez pour sélectionner le fichier" ></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field><br>
      </div>
  </div-->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 mat-grid-tile">
      <div class="profile_form">
          <h4>Infos sur la publication</h4><br>
          <form (ngSubmit)="onSubmit(groupe)"  #groupe="ngForm">
                                  <div class="form-group">
                                      <input type="text" name="title" class="form-control" placeholder="L'intitulé de la publication" ngModel/><br>
                                      <textarea class="form-control" name="description" cols="30" rows="10" placeholder="La déscription de la publication" ngModel></textarea><br>
                                      <br/>
                                      <h4>Catégories</h4>
                                      <select class="form-control" ngModel name="cat">
                                          <option value="" select>--Aucun--</option>
                                          <option *ngFor='let categorie of categories' [value]="categorie.id">{{categorie.category}}</option>
                                      </select><br/>
                                      <p *ngIf="hasMessage">{{message}}</p>
                                      <button class="boxed-btn3" type="submit">Ajouter publication</button>
                                  </div>
                              </form>
      </div>
  </div>
</div>
