<div class="single_jobs white-bg d-flex justify-content-between">
                              <div class="jobs_left d-flex align-items-center">
                                  <div class="thumb">
                                      <img [src]="image" alt="imageAlt">
                                  </div>
                                  <div class="jobs_conetent">
                                      <a [routerLink]="['/publications', publication.slug]"><h4>{{publication.title | titlecase }}</h4></a>
                                      <div class="links_locat d-flex align-items-center">
                                          <div class="location">
                                              <p><i class="fa fa-clock-o"></i>Date de publication : {{publication.creation}}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="jobs_right">
                                  <div class="apply_now">
                                      <!--a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a-->
                                  </div>
                              </div>
                          </div>
