.profile_form
{
  padding-top: 20px !important;
  max-width: 400px !important;
  width: 400px !important;
  height: 100% !important;
  text-align: center;
}

.profile_form img{
  padding-top: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
}

.mat-form-field{
  margin-right: 5px;
  width: 100% !important;
}

.mat-grid-tile
{
  background-color: white;
  border-color: white;
  border-radius: 10px;
  padding: 20px!important;
  max-height: 600px !important;
  align-content: center;
}
