<h5 class="header">MON PROFILE</h5>
<mat-grid-list cols="12" rowHeight="350px" >
  <!--mat-grid-tile [colspan]="col" [rowspan]="row">
      <div class="profile_form">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <br>
        <mat-form-field>
          <ngx-mat-file-input formControlName="profileFile" placeholder="Cliquez pour sélectionner le fichier" ></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field><br>
        <button mat-button>Enregistrer</button>
      </div>
  </mat-grid-tile-->
  <mat-grid-tile [colspan]="col" [rowspan]="row">
      <div class="profile_form">
          <h4>Vos informations</h4><br>
          <mat-form-field>
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput [value]="nomUserFormControl">
        </mat-form-field><br>
          <mat-form-field>
              <mat-label>Identifiant</mat-label>
              <input matInput disabled [value]="usernameFormControl">
          </mat-form-field><br>
          <mat-form-field>
              <mat-label>Mot de passe</mat-label>
              <input type="password" matInput disabled [value]="pwdFormControl">
          </mat-form-field><br>
          <button mat-button>Enregistrer</button><br><br>
          <button mat-button>Réinitialiser le mot de passe</button>
      </div>
  </mat-grid-tile>
</mat-grid-list>
