<div class="job_listing_area">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="section_title">
                  <h3>Publications récentes</h3>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="brouse_job text-right">
                  <a routerLink='/publications' class="boxed-btn4">Plus de publications</a>
              </div>
          </div>
      </div><br><br><br>
      <div class="col-md-12 text-center"><img class="loader" *ngIf='loaded==true' src="assets/126.gif" alt="" srcset=""></div>
      <div class="job_lists">
          <div class="row">
              <div class="col-lg-6 col-md-6" *ngFor='let pub of publications'>
                  <app-publication-comp [publication]="pub"></app-publication-comp>
              </div>
          </div>
      </div>
  </div>
</div>
