<div class="single_candidates text-center">
                    <div class="thumb">
                        <img [src]="image" [alt]="imageAlt">
                    </div>
                    <a [routerLink]="['/organisations', cluster.slug]"><h4>{{cluster.raison  | titlecase}}</h4></a>
                    <p></p>
                </div>
