<div class="popular_catagory_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section_title mb-40">
                  <h3>Top categories</h3>
              </div>
          </div>
      </div>
      <div class="col-md-12 text-center"><img class="loader" *ngIf='loaded==true' src="assets/126.gif" alt="" srcset=""></div>

      <div class="row" *ngFor='let categorie of categories'>
          <div class="col-lg-4 col-xl-3 col-md-6">
              <div class="single_catagory">
                  <a routerLink='/publications'><h4>{{categorie.category}}</h4></a>
                  <p> <span> {{categorie.top}} </span>publications</p>
              </div>
          </div>

      </div>
  </div>
</div>
