<app-header></app-header>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>{{projetTitle | titlecase}}</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<!--/ bradcam_area  -->
<div class="wow fadeInRight job_details_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12" *ngIf="projet" >
              <div class="job_details_header">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">
                          <div class="thumb">
                              <img [src]="image" [alt]="imageAlt">
                          </div>
                          <div class="jobs_content">
                              <a><h4>{{projet.title | uppercase}}</h4></a>
                              <div class="links_locat d-flex align-items-center">
                                  <!--div class="location">
                                      <p> <i class="fa fa-map-marker"></i>Kinshasa</p>
                                  </div-->
                              </div>
                          </div>
                      </div>
                      <div class="jobs_right">
                          <div class="apply_now">
                              <p>Nombre de contributions : {{projet.dons}}</p>
                          </div>
                          <div class="apply_now">
                              <a [routerLink]="['/dons', projet.slug]" class="boxed-btn3">Faire un don</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="descript_wrap white-bg">
                  <div class="single_wrap">
                  <h4>Publié le: {{projet.creation}}</h4>
                      <p>Par: <a [routerLink]="['/organisations', projet.creator]"><span>{{projet.creator}}</span></a></p>
                  </div>
                  <div class="single_wrap">
                      <h4>Déscription</h4>
                      <p>{{projet.description}}</p>
                  </div>
                  <div class="single_wrap">
                      <h4>{{projet.comments}} commentaires</h4><img class="small-loader" *ngIf='commentloaded' src="assets/126.gif" alt="" srcset="">
                      <div *ngIf="commentaires" class="all-comment">
                          <div class="comment" *ngFor='let comment of commentaires'>
                            <div class="author">
                              <span>{{comment.user.charAt(0)}}</span>{{comment.user}} {{comment.creation}}
                            </div>
                            <div class="comment-content">
                              <p>{{comment.content}}</p>
                            </div>
                            <span *ngIf="comment.comments" class="respond" (click)="toggleSubComment(comment)">Voir réponses ({{comment.comments}})</span>
                            <div class="sub-comment" *ngIf="comment.showSub">
                              <div class="comment"  *ngFor="let subcomment of comment.subcomments">
                                  <div class="author">
                                      <span>{{subcomment.user.charAt(0)}}</span>{{subcomment.user}} {{subcomment.creation}}
                                  </div>
                                  <div class="comment-content">
                                      <p>{{subcomment.content}}</p>
                                  </div>
                              </div>
                            </div>
                            <span class="respond" (click)="toggleRespond(comment)" *ngIf="userConnected">Répondre</span>
                            <form (ngSubmit)="onSubComment(f,comment)" #f="ngForm"  *ngIf="comment.respond">
                              <div class="form-group">
                                  <textarea class="form-control" name="content" ngModel placeholder="Entrez votre commentaire"></textarea>
                              </div>
                              <div class="form-group">
                                <button  class="boxed-btn3" type="submit" name="validate" ngModel>Commenter</button>
                              </div>
                            </form>
                          </div>
                  </div>
                  <div *ngIf="userConnected" class="user-comment">
                      <h4>Votre commentaire, {{userConnected.displayName}}</h4>
                      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                              <div class="form-group">
                                   <textarea class="form-control" name="content" ngModel placeholder="Entrez votre commentaire"></textarea>
                              </div>
                            <div class="form-group">
                                <button  class="boxed-btn3" type="submit">Commenter</button>
                                <img class="small-loader" *ngIf='loaded' src="assets/126.gif" alt="" srcset="">
                            </div>
                      </form>
                  </div>
                  <div *ngIf="!userConnected" class="user-comment">
                      <h4>Veuillez vous <a [routerLink]="['/authentification']">connecter ou créer un compte</a> pour commenter la publication</h4>
                  </div>
              </div>
          </div>
          <!--div class="col-lg-12">
              <div class="job_sumary">
                  <div class="share_wrap d-flex">
                  <span>A contacter par :</span>
                  <ul>
                      <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                      <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                      <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                      <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                  </ul>
                  </div>
              </div>
          </div-->
      </div>
  </div>
</div>
