a{
  text-decoration: underline;
}
.comment{
  margin-bottom : 10px !important;
  padding: 10px !important;
}

.job_details_area {
  background-color: white !important;
}

.sub-comment .comment{
  padding: 0px !important;
  margin-bottom : 0px !important;
}

.comment-content p {
  line-height: 20px !important;
}

.comment:hover{
  background-color: #F5F7FA;
  border-radius: 3px;
  border-color:  #F5F7FA;
}

.respond{
  margin-right: 20px !important;
}
.respond:hover{
  color:rgb(255, 198, 10) !important;
  cursor: pointer;
}

.sub-comment{
  margin-top:5px !important;
  margin-bottom : 10px !important;
}
