<app-banner></app-banner>

<div class="container col-md-12 text-center" style="background-color: white;">
  <div class=" text-center row" >
    <div class="col-md-4">
      &nbsp;
    </div>
    <form action="index.html" class="col-md-7 text-center" method="post">

      <h1>Authentification</h1>

      <fieldset>

        <input type="text" id="name" name="name" placeholder="Nom d'utilisateur">
        <input type="password" id="pwd" name="password" placeholder="*********">
</fieldset>

      <button type="submit">Se Connecter</button>

    </form>
    </div>
</div>
