


<app-header></app-header>
<app-slider></app-slider>
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xl-12">
<app-categorie-populaire></app-categorie-populaire>
  <!-- popular_catagory_area_end  -->
  <app-publications></app-publications>
  <!-- job_listing_area_start  -->
  <app-publications-recentes></app-publications-recentes>

  <!-- job_listing_area_end  -->

  <!-- featured_candidates_area_start  -->
 <app-cluster></app-cluster>
</div>
<!--div class="col-lg-3 col-md-3 col-xl-3">
  <app-publicite></app-publicite>
</div-->
</div>
</div>


    <!-- catagory_area
   <app-categorie></app-categorie> -->
  <!--/ catagory_area -->

  <!-- popular_catagory_area_start  -->
