<div class="slider_area">
  <div class="single_slider  d-flex align-items-center slider_bg_1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-7 col-md-6">
                  <div class="slider_text">
                      <!-- <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">4536+ Jobs listed</h5> -->
                      <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Suivez nos avancées et faites vous remarquer par vos commentaires et dons</h3>
                      <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                          Nous mettons ensemble des personnes de différents horizons afin de trouver les solutions aux problèmes sanitaires
                      </p>
                      <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                          <a [routerLink]="['/dons']" class="boxed-btn3">Faire un don</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
      <img src="assets/img/banner/illustration.png" alt="">
  </div>
</div>
