<div class="featured_candidates_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section_title text-center mb-40">
                  <h3>Nos clusters</h3>
              </div>
          </div>
      </div>
      <div class="col-md-12 text-center"><img class="loader" *ngIf='loaded==true' src="assets/126.gif" alt="" srcset=""/></div>
      <div class="row">
            <div class="col-md-6 col-lg-3" *ngFor='let cluster of clusters'>
                <app-cluster-comp [cluster]="cluster"></app-cluster-comp>
            </div>
        </div>
  </div>
</div>
