.publicite{
  position: relative;
  height: 100% ;
  width: 100%;
  margin: 0px !important;
  text-align: left;
  float: right;
  padding: 100px 0px 100px 10px !important;
}


/*
.pub-image{
  height: 100% !important;
  width: 100% !important;
}

.img-content{
  position: relative;
  width: 100%;
  height: 50px!important ;
  margin-bottom: 10px !important;
  padding: 0px !important;
}*/

/*.img-content{
  width: 100% !important;
  height: 100%;
  position: absolute;
  left : 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px 5px !important;
  text-align: left;
  /*background-color: rgba(64,9,17,0.3);
}*/

.pub-content{
  padding-top: 5px !important;
  word-wrap: break-word;
  height: 100%;
  text-align: center;
  line-height: 15px !important;
}

.pub-content:hover{
  transform: scaleX(1.05);
  cursor : pointer;
  transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
