
                <div class="publicite blog_right_sidebar" id="sidebar">
                    <aside class="single_sidebar_widget post_category_widget" id="sidebar">
                        <h4 class="widget_title">Publicités</h4>
                        <ul class="list cat-list">
                            <li img-content wow fadeInRight><h3 class="pub-content"><a href="publication.html" class="d-flex">Big event of DrepanoConvergence</a></h3></li>
                            <li img-content wow fadeInRight><h3 class="pub-content"><a href="publication.html" class="d-flex">Big event of DrepanoConvergence</a></h3></li>
                        </ul>
                    </aside>
                </div>

<!--div class="publicite">
  <h2>Jetez un oeil</h2>
  <div class="img-content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
    <div class="msg-content">
      <h3>Big event of DrepanoConvergence</h3>
    </div>
  </div>
  <div class="img-content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
    <div class="msg-content">
      <h3>Big event of DrepanoConvergence</h3>
    </div>
  </div><div class="img-content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
    <div class="msg-content">
      <h3>Big event of DrepanoConvergence</h3>
    </div>
  </div><div class="img-content wow fadeInRight" data-wow-duration="1s" data-wow-delay=".2s">
    <div class="msg-content">
      <h3>Big event of DrepanoConvergence</h3>
    </div>
  </div>
</div-->
