<mat-card class="my-card">
      <mat-card-header>
        <mat-card-title>{{publication.title | uppercase}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{publication.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <span>Nombre des contributions : {{publication.dons}}</span>
        <a routerLink="dons" mat-button>VOIR DONS</a>
        <button mat-button>DETAILS</button>
      </mat-card-actions>
    </mat-card>
