<header>
  <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
          <div class="container-fluid ">
              <div class="header_bottom_border">
                  <div class="row align-items-center">
                      <div class="col-xl-3 col-lg-2 col-md-2">
                          <div class="logo">
                              <a  routerLink='/'>
                                  <img src="assets/img/logo.PNG" alt="">
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-9 col-lg-10 col-md-10 col-sm-12">
                          <div class="main-menu d-none d-lg-block">
                              <nav>
                                  <ul id="navigation">
                                      <li class="active"><a routerLink='/'>Acceuil</a></li>
                                      <!--li><a routerLink='/publications'>Publications</a></li-->
                                      <li><a routerLink='/organisations'>Organisations</a></li>
                                      <li><a routerLink='/contact'>Contact</a></li>
                                      <!--li *ngIf="userConnected"><a routerLink='/admin'>Mon compte</a></li-->
                                      <li *ngIf="!userConnected"><a class="boxed-btn3" routerLink='/authentification'>Identifiez-vous</a></li>
                                      <!--li *ngIf="userConnected"><a href="#">
                                            <div class="avatar-circle ">
                                                <span>{{ userConnected.displayName.charAt(0) }}</span>
                                            </div>
                                        </a>
                                        <ul class="submenu">
                                                    <li><a routerLink='/admin/profile'>{{userConnected.displayName}} (voir profile)</a></li>
                                                    <li><a routerLink='/logout'>Déconnexion</a></li>
                                                </ul>
                                      </li-->
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none">
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
