
.avatar-circle {
  width: 50px;
  height: 50px;
  padding: 10px 10px ;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  background-color: rgb(255, 198, 10);
  border-color: white;
  border-width: 2px;
  border-style: inset;
  border-radius: 50%;
}

.boxed-btn3{
  padding: 13px 29px 13px 29px !important;
}


.submenu li a:hover{
  background-color: rgba(0,0,0,0.05);
  cursor : pointer !important;
}

/*.navbar-light .navbar-toggler{
  background-color: white !important;
  border-color: white !important;
  position: absolute;
  right: 0px;
}*/

