
<!-- bradcam_area  -->
<app-banner></app-banner>


<div class="job_listing_area plus_padding">
  <div class="container">
      <div class="row">
        <form  (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="col-lg-5">
              <div class="job_filter white-bg">
                  <div class="form_inner white-bg">
                      <h3>Filtre</h3>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="single_field">
                                      <input type="text"  name="qword" ngModel placeholder="Tapez des mots clés">
                                  </div>
                              </div>

                              <div class="col-lg-12">
                                  <div class="single_field">

                                      <select class="custom-select" name="cat" id="inputGroupSelect03"ngModel >

                                        <option data-display="Category">Categories</option>
                                        <option value="NayEjqCUktpvRYimN6cZ">Numérique</option>
                                        <option value="WajDKSpXtEU1r18L1RtR">Agriculture</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-lg-12 mt-4 mb-4">
                                <div class="single_field"> <select name="re"class="custom-select" id="inputGroupSelect04"ngModel>
                                      <option data-display="recente">Récentes</option>
                                      <option value="top">Top</option>
                                  </select>
                                </div>
                            </div>
                          </div>

                  </div>
                  <div class="reset_btn">
                      <button  class="boxed-btn3 w-100" type="submit">Rechercher</button>
                  </div>

              </div>
          </div>
          <div class="col-lg-7">
              <div class="recent_joblist_wrap">
                  <div class="recent_joblist white-bg ">
                      <div class="row align-items-center">
                          <div class="col-md-12">
                              <h4>Liste de publications</h4>
                          </div>
                          <div class="col-md-12">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 text-center"><img *ngIf='loaded==true' src="assets/126.gif" alt="" srcset=""></div>
              <div class="job_lists m-0">
                  <div class="row">
                      <div class="col-lg-12 col-md-12" *ngFor='let pub of publications;let i=index' (click)="go(pub.slug)" >
                          <div class="single_jobs white-bg d-flex justify-content-between">
                              <div class="jobs_left d-flex align-items-center">
                                  <div class="thumb">
                                      <img src="assets/img/svg_icon/1.svg" alt="">
                                  </div>
                                  <div class="jobs_conetent">
                                      <h4>{{pub.title}}</h4>
                                      <div class="links_locat d-flex align-items-center">
                                          <div class="location">
                                              <p><i class="fa fa-clock-o"></i>Date de publication:{{pub.cration}}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="jobs_right">
                                  <div class="apply_now">
                                      <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="pagination_wrap">
                              <ul>
                                  <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                  <li><a href="#"><span>01</span></a></li>
                                  <li><a href="#"><span>02</span></a></li>
                                  <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
  </div>
</div>
