<app-banner></app-banner>
<!-- featured_candidates_area_start  -->
<section class="blog_area single-post-area section-padding">
  <div class="container">
     <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>Green ideas
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i>Téléphone</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i>Lieu, adresse</a></li>
                        </ul>
                        <p class="excert">
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the willpower
                        </p>
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the willpower to actually sit through a
                            self-imposed MCSE training. who has the willpower to actually
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Publications</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="publication.html" class="d-flex">
                                    <p>Blabla</p>
                                </a>
                            </li>
                            <li>
                                <a href="publication.html" class="d-flex">
                                    <p>Sonic</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>

  </div>
  </div>
  </div>
</section>
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="assets/img/candiateds/1.png" alt="">
                    </div>
                    <a href="#"><h4>Green ideas</h4></a>
                    <p>...</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="assets/img/candiateds/1.png" alt="">
                    </div>
                    <a href="#"><h4>Green ideas</h4></a>
                    <p>...</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="assets/img/candiateds/1.png" alt="">
                    </div>
                    <a href="#"><h4>Green ideas</h4></a>
                    <p>...</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="assets/img/candiateds/1.png" alt="">
                    </div>
                    <a href="#"><h4>Green ideas</h4></a>
                    <p>...</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="assets/img/candiateds/1.png" alt="">
                    </div>
                    <a href="#"><h4>Green ideas</h4></a>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination_wrap">
                    <ul>
                        <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                        <li><a href="#"><span>01</span></a></li>
                        <li><a href="#"><span>02</span></a></li>
                        <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- featured_candidates_area_end  -->


