<div class="top_companies_area">
  <div class="container">
      <div class="row align-items-center mb-40">
          <div class="col-lg-6 col-md-6">
              <div class="section_title">
                  <h3>Top des publications</h3>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="brouse_job text-right">
                  <a routerLink='/publications' class="boxed-btn4">Plus de publications</a>
              </div>
          </div>
      </div>
      <div class="col-md-12 text-center"><img class="loader" *ngIf='loaded==true' src="assets/126.gif" alt="" srcset=""></div>
      <div class="row" >
          <div class="col-lg-4 col-xl-3 col-md-6" *ngFor='let pub of publications'>
              <div class="single_company">
                  <div class="thumb">
                      <img src="assets/img/svg_icon/5.svg" alt="">
                  </div>
                  <a [routerLink]="['/publications',pub.slug]"><h3>{{pub.title| titlecase }}</h3></a>
                  <p> <span>{{pub.dons}}</span>dons</p>
              </div>
          </div>
      </div>
  </div>
</div>
