<div class="row drepano">
    <div class="col-lg-12 col-md-12 col-xl-12">
        <div class="row">
            <div class="section_title text-center mb-40">
                <h3>Drépano-convergence</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xl-3 col-sm-12 col-xs-12">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <ul class="list cat-list">
                            <li><a href="" class="d-flex">Amour</a></li>
                            <li><a href="" class="d-flex">Unité</a></li>
                            <li><a href="" class="d-flex">Force du plus</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-xl-9 col-sm-12 col-xs-12">
                <div class="point-drepano">
                    <div class="drepano-header" id="who">
                        <h2>Qui sommes-nous</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="drepano-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                    </div>
                </div>
                <div class="point-drepano">
                    <div class="drepano-header" id="vision">
                        <h2>Notre vision</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="drepano-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                    </div>
                </div>
                <div class="point-drepano">
                    <div class="drepano-header" id="other">
                        <h2>Autre</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="drepano-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis enim reprehenderit quis est saepe vitae quia! Facilis ratione natus illo aliquid odit, suscipit ex possimus consequatur sunt, eligendi id aperiam?
                    </div>
                </div>
            </div>  
        </div>
    </div>
  </div>