<app-header></app-header>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>Publications</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="job_listing_area plus_padding">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
              <div class="job_filter white-bg">
                  <div class="form_inner white-bg">
                      <h3>Filtre</h3>
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-xl-12">
                              <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                              <div class="form-group">
                                   <input type="text" class="form-control" name="qword" ngModel placeholder="Tapez des mots clés">
                                   </div>
                                    <div class="form-group">
                                      <select class="form-control" name="cat" ngModel>
                                        <option value="" select>--Aucun--</option>
                                        <option [value]="cat.id" *ngFor="let cat of categories">{{cat.category}}</option>
                                      </select>
                                   </div>
                                   <div class="form-group">
                                <select name="re" class="form-control" ngModel>
                                      <option value="" select>--Aucun--</option>
                                      <option value="top">Top</option>
                                  </select>
                            </div>
                            <div class="form-group">
                      <button  class="boxed-btn3" type="submit">Rechercher</button>
                  </div>
                              </form>
                              </div>
                          </div>

                  </div>
              </div>
        </div>
        <div class="col-lg-8 col-md-8">
              <div class="recent_joblist_wrap">
                  <div class="recent_joblist white-bg ">
                      <div class="row align-items-center">
                          <div class="col-md-12">
                              <h4>Liste de publications</h4>
                          </div>
                          <div class="col-md-12">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 text-center"><img class="loader" *ngIf='loaded==true' src="assets/126.gif" alt="" srcset=""></div>
              <div class="job_lists m-0">
                  <div class="row">
                      <div class="col-lg-12 col-md-12" *ngFor='let pub of publications;let i=index' (click)="go(pub.slug)" >
                          <app-publication-comp [publication]="pub"></app-publication-comp>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="pagination_wrap">
                              <ul>
                                  <li *ngIf="prevUrl"><a (click)="prev()"> <i class="ti-angle-left"></i> </a></li>
                                  <li *ngIf="nextUrl"><a (click)="next()"> <i class="ti-angle-right"></i> </a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</div>
