<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div
            class="footer_widget wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay=".3s"
          >
            <div class="footer_logo">
              <a href="#">
                <img src="assets/img/logo.PNG" alt="" />
              </a>
            </div>
            <p>
              Drepano convergence est une association sans but lucratif qui
              s’inscrit dans l’ordre des organisations non gouvernementale vouée
              à la prévention de la drépanocytose et à l’accompagnement des
              drépanocytaires en République Démocratique du Congo.
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="https://web.facebook.com/drepanoo?fref=search&__tn__=%2Cd%2CP-R&eid=ARAdL-84vCjTm1pTpSBfwBMPc-ZoW7c7d3HgwXy3S0kqd_HRgHc7LXSZVW8vXwJhEi-yr707zcvuUBpx">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <!--<li>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-lg-2">
          <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                            <h3 class="footer_title">
                                Rubriques
                            </h3>
                            <ul>
                                <li><a routerLink='/'>Accueil</a></li>
                                <li><a routerLink='/publications'>Publications</a></li>
                                <li><a routerLink='/organisations'>Organisations</a></li>
                                <li><a routerLink='/contact'>Contact</a></li>
                            </ul>
</div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
         <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                            <h3 class="footer_title">
                                Contact & Adresse
                            </h3>
              <p>Mail : contact@drepanoconvergencerdc.com<br/>Telephone : +243 826 816 940<br />
              1306 Crow Tower, avenue Batetela Kinshasa-Gombe, République
              Démocratique du Congo.</p>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div
            class="footer_widget wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay=".6s">
            <h3 class="footer_title">
              Souscrivez
            </h3>
            <form  (ngSubmit)="onSubscribeToMailchimp(f)"  #f="ngForm">
              <input type="text" name="email" placeholder="Entrez votre mail (*)" class="form-control" ngModel required/><br>
              <input type="text" name="prenom" placeholder="Entrez votre prénom" class="form-control" ngModel required/><br>
              <input type="text" name="nom" placeholder="Entrez votre nom" class="form-control" ngModel required/><br>
              <button class="boxed-btn3" type="submit">Souscrire</button>
              <img class="small-loader" *ngIf='loader' src="assets/126.gif" alt="" srcset=""><p *ngIf='hasMessage'>{{message}}</p>
            </form>
            <br>
            <p class="newsletter_text">
              En souscrivant, vous vous abonnez à notre liste de diffusion et
              permettez à Drepano convergence de faire de vous un contact actif.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="copy-right_text wow fadeInUp"
    data-wow-duration="1.4s"
    data-wow-delay=".3s"
  >
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved |
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="http://kodakagroup.com" target="_blank">kodakagroup</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
