<div class="featured_candidates_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section_title text-center mb-40">
                  <h3>Nos clusters</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="candidate_active owl-carousel">
                  <div class="single_candidates text-center">
                      <div class="thumb">
                          <div class="round" style="border:solid 3px rgb(132,34,64);background: rgb(168,45,82);"></div>
                      </div>
                      <a href="#"><h4>INRB</h4></a>
                      <p>sida,mst,ist</p>
                  </div>
                  <div class="single_candidates text-center">
                      <div class="thumb">
                          <div class="round" style="border:solid 3px rgb(58,107,99);background: rgb(103,197,167);"></div>
                      </div>
                      <a href="#"><h4>Labo contre le paludisme</h4></a>
                      <p>palu,malaria</p>
                  </div>
                  <div class="single_candidates text-center">
                      <div class="thumb">
                          <!--img src="img/candiateds/4.png" alt=""-->
                          <div class="round" style="border:solid 3px rgb(104,66,130);background: rgb(74,48,92);"></div>
                      </div>
                      <a href="#"><h4>Institut de recherche Ebola</h4></a>
                      <p>santé</p>
                  </div>
                  <div class="single_candidates text-center">
                      <div class="thumb">
                          <div class="round" style="border:solid 3px rgb(167,160,31);background: rgb(147,140,28);"></div>
                      </div>
                      <a href="#"><h4>DRC Lab</h4></a>
                      <p>lab</p>
                  </div>
                  <div class="single_candidates text-center">
                      <div class="thumb">
                          <div class="round" style="border:solid 3px rgb(58,107,99);background: rgb(103,197,167);"></div>
                      </div>
                      <a href="#"><h4>Green ideas</h4></a>
                      <p>sante,environnement</p>
                  </div>
                  <div class="single_candidates text-center">
                      <div class="thumb">
                          <div class="round" style="border:solid 3px rgb(167,160,31);background: rgb(147,140,28);"></div>
                      </div>
                      <a href="#"><h4>Orange Safe Energy</h4></a>
                      <p>bio,energie</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
