.mat-sidenav-container{
  font-family: 'Sen' !important;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-image: url('/assets/img/banner/bradcam_side.png');
}

.mat-list-base .mat-list-item{
  color: white !important;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.mat-primary
{
  background-color: white;
  border-color : white;
  color: black;
}

.mat-toolbar {
  color: wheat;
  padding-top: 20px !important;
  text-align: left!important;
}

.mat-toolbar-row, .mat-toolbar-single-row
{
  white-space: normal !important;
  line-height: 20px !important;
  max-lines: 2;
  font-size: 14px;
}

.mat-toolbar span{
  padding-top: 0px !important;
}

a{
  font-size: 14px !important;
}

a:hover{
  color: #e8b400 !important;
}

.menu{
  margin-left: 20px;
}

.mat-list-base .mat-list-item:hover{
  background-color: wheat;
}
.container{
  font-family: "Sen", sans-serif !important;
}