<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{userConnected.displayName | titlecase}} ({{userConnected.profile.libelle | titlecase}})</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin">Mes dons</a>
      <a mat-list-item routerLink="publication" *ngIf="userConnected.profile.group">Mes publications</a>
      <a mat-list-item *ngIf="userConnected.profile.group">Mes publicités</a>
      <a mat-list-item routerLink="souscriptions" *ngIf="userConnected.profile.admin">Souscriptions</a>
      <a mat-list-item routerLink="profile">Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="">Accueil</a>
      <div class="menu">
        <button mat-button [matMenuTriggerFor]="menu">Notifications</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Nouveau commentaire : eicnoineiocnekcnskcc,xcnsc</span>
          </button>
          <button mat-menu-item>
            <span>Nouveau don</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
