<app-header></app-header>
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>Contacts</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="contact-section section_padding">
<div class="container">
<div class="row">
  <div class="col-12">
    <h2 class="contact-title">Ecrivez-nous</h2>
  </div>
  <div class="col-lg-8">
    <form (ngSubmit)="onSubscribe(f)"  #f="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">

              <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez le message'" placeholder = 'Entrez le message' ngModel></textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" name="names" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez votre nom au complet'" placeholder = 'Entrez votre nom au complet' ngModel>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adresse mail'" placeholder = 'Adresse mail' ngModel>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input class="form-control" name="object" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrez l\'object'" placeholder = "Entrez l'objet" ngModel>
          </div>
        </div>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="button button-contactForm btn_4 boxed-btn">Envoyer le message</button>
        <img class="small-loader" *ngIf='loader' src="assets/126.gif" alt="" srcset="">
      </div>
    </form>
    <br><br><p class="error" *ngIf="hasMessage">{{message}}</p>
  </div>
  <div class="col-lg-4">
    <div class="media contact-info">
      <span class="contact-info__icon"><i class="ti-home"></i></span>
      <div class="media-body">
        <h3> Kinshasa-Gombe, République Démocratique du Congo</h3>
        <p>1306 Crow Tower, avenue Batetela</p>
      </div>
    </div>
    <div class="media contact-info">
      <span class="contact-info__icon"><i class="ti-tablet"></i></span>
      <div class="media-body">
        <h3>+243 826 816 940</h3>
        <p>Nous sommes disponible de 09h à 22h les jours ouvrables</p>
      </div>
    </div>
    <div class="media contact-info">
      <span class="contact-info__icon"><i class="ti-email"></i></span>
      <div class="media-body">
        <h3>contact@drepanoconvergencerdc.com</h3>
        <p>Ecrivez-nous à tout moment</p>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-- ================ contact section end ================= -->
