<div class="catagory_area">
  <div class="container">
      <div class="row cat_search">
          <div class="col-lg-3 col-md-4">
              <div class="single_input">
                  <input type="text" placeholder="Tapez un mot clé">
              </div>
          </div>
          <div class="col-lg-3 col-md-4">
              <div class="single_input">
                  <select  >
                      <option data-display="Localisation">Localisation</option>
                      <option value="1">Kinshasa </option>
                      <option value="2">Lubumbashi</option>
                      <option value="4">Kikwiti</option>
                      <option value="4">Kananga</option>
                    </select>
              </div>
          </div>
          <div class="col-lg-3 col-md-4">
              <div class="single_input">
                  <select class="wide">
                      <option data-display="Categories">Categories</option>
                      <option value="1">Categorie 1</option>
                      <option value="2">Categorie 2</option>
                      <option value="4">Categorie 3</option>
                    </select>
              </div>
          </div>
          <div class="col-lg-3 col-md-12">
              <div class="job_btn">
                  <a href="#" class="boxed-btn3">Trouver un projet</a>
              </div>
          </div>
      </div>
  </div>
</div>
