<app-header></app-header>
<app-header></app-header>
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>{{projetTitle}}</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="wow fadeInRight job_details_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12" *ngIf="projet">
              <div class="job_details_header">
                  <div class="single_jobs white-bg d-flex justify-content-between">
                      <div class="jobs_left d-flex align-items-center">
                          <div class="thumb">
                              <img [src]="image" [alt]="imageAlt">
                          </div>
                          <div class="jobs_content">
                              <a><h4>{{projet.title | uppercase}}</h4></a>
                              <div class="links_locat d-flex align-items-center">
                                  <!--div class="location">
                                      <p> <i class="fa fa-map-marker"></i>Kinshasa</p>
                                  </div-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="descript_wrap white-bg">
                  <div class="single_wrap">
                  <h4>Publié le: {{projet.creation}}</h4>
                      <p>Par: <a [routerLink]="['/organisations', projet.creator]"><span>{{projet.creator}}</span></a></p>
                  </div>
                  <div class="single_wrap">
                      <h4>Déscription</h4>
                      <p>{{projet.description}}</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-12">
            <div class="apply_job_form white-bg">
                <p *ngIf="!slug">Un don pour la fondation Drepanoconvergence</p>
                        <p>Moyens de paiement : </p>
                <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xl-3">
                  <div class="moyen-paiement">
                    <div class="content-header">
                      <p>Mpesa</p>
                    </div>
                    <div class="content-content">

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xl-3">
                  <div class="moyen-paiement">
                    <div class="content-header">
                      <p>Orange Money</p>
                    </div>
                    <div class="content-content">

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xl-3">
                <div class="moyen-paiement">
                    <div class="content-header">
                      <p>Airtel Money</p>
                    </div>
                    <div class="content-content">

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xl-3">
                  <div class="moyen-paiement">
                    <div class="content-header">
                      <p>Paypal</p>
                    </div>
                    <div class="content-content">

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xl-3">
                  <div class="moyen-paiement">
                    <div class="content-header">
                      <p>Stripe</p>
                    </div>
                    <div class="content-content">

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xl-3">
                <div class="moyen-paiement">
                    <div class="content-header">
                      <p>Equity</p>
                    </div>
                    <div class="content-content">

                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>

