.moyen-paiement{
  margin-top: 20px !important;
  max-height: 300px !important;
  height: 300px !important;
}
.moyen-paiement:hover{
  border:   solid 0.02px;
  border-color: rgba(255, 198, 92, 0.349)!important;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: scale(1.03);
}
.moyen-paiement .content-header{
  padding: 10px !important;
  height: 50px !important;
  background-color: rgba(255, 198, 92, 0.349)!important;
  width: 100% !important;
  text-align: center;
}

.moyen-paiement .content-content{

}
